.footer1 {
    background-color: #213555;
    text-align: center;
    padding: 12px 15px;
    font-size: 14px;
    color:#F5EFE7 !important;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  